body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}

a {
  color: #2a5885;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.text_wrap {
  font-size: 14px;
}
.text {
  white-space: pre-line;
}

.post {
  padding: 10px;
}
.post:not(:last-child) {
  border-bottom: 1px #ddd solid;
}
.post_userpic {
  float: left;
  width: 50px;
  height: 50px;
}
.post_userpic img {
  width: 50px;
  height: 50px;
}
.post_content {
  margin-left: 60px;
}
.post_username {
  color: #777;
}
.post_username a {
  font-weight: bold;
}

.comment {
  padding: 10px 0;
  border-bottom: 1px #ddd solid;
}
.comment:last-child {
  border-bottom: none;
}
.comment_userpic {
  float: left;
  width: 40px;
  height: 40px;
}
.comment_userpic img {
  width: 40px;
  height: 40px;
}
.comment_content {
  margin-left: 50px;
}
.comment_username {
  color: #777;
  line-height: 100%;
  padding: 2px 0;
}
.comment_username a {
  font-weight: bold;
}

.comment .text {
  font-size: 13px;
  white-space: pre-line;
}

a.history_link {
  font-weight: normal;
}

.comments_title {
  margin-top: 7px;
  padding: 7px 10px;
  text-align: center;
  background-color: #e1e5ec;
  color: #55677d;
}

.post a.post_date,
.comment a.post_date {
  color: #777;
  font-weight: normal;
}

.attach_photo {
  display: inline-block;
  font-size: 0;
}

.attach_video {
  display: inline-block;
}
.attach_video_preview img {
  width: 320px;
  height: 240px;
}
.attach_video_title {
  font-weight: bold;
}
.attach_video_dur {
  font-size: 13px;
  color: #777;
  line-height: 100%;
}

.attach_unknown {
  padding: 10px;
  margin-top: 7px;
  border: 1px #ddd solid;
}

.stats {
  padding: 10px;
  background: #e2e2e2;
  text-align: center;
}

.pagenav {
  padding: 10px;
  border-top: 1px #ddd solid; 
}
.pagenav > * {
  padding: 0 6px;
}
