$def with (preview, title, link, duration)

<div class="attach_video">
  <a href="$link" target="_blank" class="attach_video_preview">
    <img src="$preview" /><br/>
  </a>
  <a href="$link" target="_blank" class="attach_video_title">$title</a>
  <div class="attach_video_dur">$duration</div>
</div>
