$def with (comment, attachments)

<div class="comment clearfix">
  <div class="comment_userpic">
    <img src="$comment['user_image']" />
  </div>
  <div class="comment_content">
    <div class="comment_username">
      <a href="$comment['user_link']">$comment['user_name']</a> ($:comment['date'])
    </div>
    <div class="text_wrap">
      <span class="text">$comment['text']</span>
      $if attachments:
        <div class="attachments">$:attachments</div>
    </div>
  </div>
</div>

