$def with (text, date, attachments)

<div class="post">
  <div class="post_date">$date</div>
  <div class="text">$text</div>
  $if attachments:
      <div class="attachments">$:attachments</div> 
</div>
