$def with (post, comments, attachments)

<div class="post clearfix">
  <div class="post_userpic">
    <img src="$post['user_image']" />
  </div>
  <div class="post_content">
    <div class="post_username">
      <a href="$post['user_link']">$post['user_name']</a> ($:post['date'])
    </div>
    <div class="text_wrap">
      <span class="text">$post['text']</span>
      $if attachments:
        <div class="attachments">$:attachments</div>
    </div>
    
    $if post['comments_count'] > 0:
      <div class="comments">
        <div class="comments_title">$post['comments_count'] $num_label(post['comments_count'], 'комментарий', 'комментария', 'комментариев')</div>
        $:comments
      </div>
  </div>
</div>
